/* #7. Style dkit dongg... */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
  max-width: 560px;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

/* Text */
.text-center {
  text-align: center;
}

/* Margins */
.mt-4 {
  margin-top: 40px;
}

/* Todo */
.todo-item {
  background-color: #ccc;
  color: #333;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.remove-todo {
  cursor: pointer;
  background-color: red;
  padding: 2px 7px;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}

/* Form */
.input {
  padding: 5px;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 5px;
}
